.header {
    display:flex;
    justify-content:space-between;
    background-color: teal;
    padding: 15px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: thistle;
    text-decoration: none;
}

.menu{
    display:flex;
    justify-content: space-between;
    background-color: #000000;
    padding: 15px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: whitesmoke;
}
.body{
    margin: 0px;
    background-color: #f7f2f2;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    background-color: tomato;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: wheat;
    margin-top: 100px;
}

.grid img{
    border: 2px solid black;
    border-radius: 50px;
}

.origami{
    border-radius: 20px;
    background-color: whitesmoke;
    padding: 30px;
    margin: 25px;
    width: 310px;
    font-family: fantasy;
}
.origami:hover{
    transform: scale(1.2);
}
a:link{
    color: aqua;
}
a:visited{
    color: blue;
}